<p><%= params[:controller]+'.scss' %>
<div class="panel panel-default">
<div class="panel-heading"><h1>Listing Statuses</h1></div>
 <div class="panel-body">
    <p>Here is a list of the latest post status added by the users.</p>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= status.content %></td>
        <td><%= link_to 'Show post created ' + time_ago_in_words(status.created_at), status %></td>
        <td><%= link_to 'Edit', edit_status_path(status) %></td>
        <td ><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<span class="status">>
  <span class="admin">
    <%= link_to 'New Status', new_status_path %>
  </span>
</span>
