<div class="row">
  <div class="col-md-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well"}) do |f| %>
    <fieldset>
      <legend>Log In</legend>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
    </fieldset>
  <% end %>
  </div>
  <div class="col-md-8">
    <h2>Signin in order to proceed</h2>
  </div>
</div>

<%= render "devise/shared/links" %>
